<footer>
    <div class="flex-footer">
        <div class="logo_envirotech">
            <img src="assets/images/logo/logo_envirotech.png" alt="logo">
        </div>
        <div class="content_info">
            <div class="content_info_contacts">
                <p class="content_info_contacts_email">
                    pharmacie-mairie.montreux@gmail.com
                </p>
                <p class="content_info_contacts_phone">
                    Tél : 01 23 45 67 89 - Fax : 01 23 45 67 89
                </p>
                
            </div>
            <div class="content_info_socials">
                <p class="content_info_socials_facebook">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/facebook.png" alt="facebook">
                    </a>
                </p>
                <p class="content_info_socials_twitter">
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/twitter.png" alt="twitter">
                    </a>
                </p>
                <p class="content_info_socials_instagram">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/instagram.png" alt="instagram">
                    </a>
                </p>
                <p class="content_info_socials_youtube">
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/youtube.png" alt="youtube">
                    </a>
                </p>
                <p class="content_info_socials_linkedin">
                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/linkedin.png" alt="youtube">
                    </a>
                </p>
                <p class="content_info_socials_whatsapp">
                    <a href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/whatsapp.png" alt="youtube">
                    </a>
                </p>
            </div>
            <div class="content_info_copyright">
                <p>
                    © 2023 - Tous droits réservés - Envirotech - Pharmacie de la Mairie
                </p>
            </div>
        </div>
        <div class="logo_pharmacie">
            <img src="assets/images/logo/logo_pharmacie.png" alt="logo">
        </div>
    </div>
</footer>