<footer>
    <div class="flex-footer">
        <div class="logo_envirotech">
            <img src="assets/images/logo/logo_envirotech.png" alt="Logo Envirotech" title="Logo Envirotech" aria-label="Logo Envirotech">
        </div>
        <div class="content_info">
            <div class="content_info_contacts">
                <p class="content_info_contacts_email" aria-label="Contact : Email">
                    pharmacie-mairie.montreux@gmail.com
                </p>
                <p class="content_info_contacts_phone" aria-label="Contact : Téléphone">
                    Tél : 01 23 45 67 89 - Fax : 01 23 45 67 89
                </p>
            </div>
            <div class="content_info_socials">
                <p class="content_info_socials_facebook">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/facebook.png" alt="Logo Facebook"  title="Logo Facebook" aria-label="Logo Facebook">
                    </a>
                </p>
                <p class="content_info_socials_twitter">
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/twitter.png" alt="Logo Twitter" title="Logo Twitter" aria-label="Logo Twitter">
                    </a>
                </p>
                <p class="content_info_socials_instagram">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/instagram.png" alt="Logo Instagram" title="Logo Instagram" aria-label="Logo Instagram">
                    </a>
                </p>
                <p class="content_info_socials_youtube">
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/youtube.png" alt="Logo Youtube" title="Logo Youtube" aria-label="Logo Youtube">
                    </a>
                </p>
                <p class="content_info_socials_linkedin">
                    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/linkedin.png" alt="Logo Youtube" title="Logo Youtube" aria-label="Logo Youtube">
                    </a>
                </p>
                <p class="content_info_socials_whatsapp">
                    <a href="https://www.whatsapp.com/" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/logo/whatsapp.png" alt="Logo Whatsapp" title="Logo Whatsapp" aria-label="Logo Whatsapp">
                    </a>
                </p>
            </div>
            <div class="content_info_copyright">
                <p aria-label="Copyright">
                    © 2023 - Tous droits réservés - Envirotech - Pharmacie de la Mairie
                </p>
            </div>
        </div>
        <div class="logos">
            <div class="logo_envirotech_bottom">
                <img src="assets/images/logo/logo_envirotech.png" alt="Logo Envirotech" title="Logo Envirotech" aria-label="Logo Envirotech">
            </div>
            <div class="logo_pharmacie">
                <div class="logo_pharmacie_logo">
                    <img src="assets/images/logo/logo_pansement.png" alt="Logo Pharmacie" title="Logo Pharmacie" aria-label="Logo Pharmacie">
                </div>
                <div class="logo_pharmacie_title" aria-label="Pharmacie de la mairie">
                    <span>P</span>HARMARCIE DE <br>LA <span>M</span>AIRIE
                </div>
            </div>

        </div>
    </div>
</footer>