.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .brand-card {
    /* En mode PC, affichez trois logos sur la même ligne */
    flex-basis: calc(33.33% - 15px); /* Permet à chaque colonne d'occuper un tiers de la largeur de l'écran avec un espacement de 15px entre elles */
    margin-bottom: 20px;
    display: flex; /* Ajoutez cette ligne pour afficher les logos en ligne */
    flex-wrap: wrap; /* Ajoutez cette ligne pour que les logos se mettent en ligne sur les petits écrans */
  }

  .brand {
    /* Ajoutez cette classe pour définir l'espace entre chaque logo */
    flex-basis: calc(33.33% - 15px); /* Permet à chaque logo d'occuper un tiers de la largeur de l'écran avec un espacement de 15px entre eux */
    margin-bottom: 20px;
  }

  article {
    text-align: center;
    img {
      max-width: 100px;
      max-height: 100px;
    }

    h2 {
      margin-top: 10px;
    }
  }
}

/* Media Query pour les écrans de taille moyenne (tablette et écran de bureau) */
@media screen and (max-width: 1024px) {
  .brand-card, .brand {
    /* En mode tablette, affichez deux logos sur la même ligne */
    flex-basis: calc(50% - 15px); /* Permet à chaque colonne d'occuper la moitié de la largeur de l'écran avec un espacement de 15px entre elles */
  }
}

/* Media Query pour les écrans de petite taille (téléphone) */
@media screen and (max-width: 768px) {
  .brand-card, .brand {
    /* En mode téléphone, affichez un logo par ligne */
    flex-basis: 100%; /* Fait en sorte que chaque colonne occupe 100% de la largeur de l'écran */
  }
}
