<header>
    <div class="flex-header">
        <div class="logo">
            <img src="assets/images/logo/logo_pharmacie.png" alt="logo">
        </div>

        <nav role="navigation" aria-label="Navigation principale">
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
            <div class="main_pages">
                <a routerLink="/" aria-label="Accueil">Accueil</a>
                <a routerLink="/products" aria-label="Catalogue">Catalogue</a>
                <a routerLink="/partners" aria-label="Partenaires">Partenaires</a>
                <a routerLink="/prestations" aria-label="Prestations">Prestations</a>
                <a href="#" aria-label="Contact">Contact</a>
            </div>
        </nav>
    </div>
    <!--<nav>
        <a routerLink="/">Accueil</a>
        <a routerLink="/products">Catalogue</a>
        <a routerLink="/parternaires">Marque Partenaire</a>
        <a routerLink="/prestations">Prestations</a>
        <a routerLink="/contact">Contact</a>
    </nav>-->
</header>