<header>
  <div class="flex-header">
    <div class="title">
      <div class="logo"><img src="assets/images/logo/logo_pansement.png" alt="logo"></div>
      <h1>Pharmacie de la Mairie</h1>
    </div>

    <nav role="navigation" aria-label="Navigation principale">
      <label for="toggle">☰</label>
      <input type="checkbox" id="toggle">
      <div class="main_pages">
        <a routerLink="/" aria-label="Accueil">Accueil</a>
        <a routerLink="/products" aria-label="Catalogue">Catalogue</a>
        <a routerLink="/partners" aria-label="Partenaires">Partenaires</a>
        <a routerLink="/prestations" aria-label="Prestations">Prestations</a>
        <a routerLink="/contact" aria-label="Contact">Contact</a>
      </div>
    </nav>
  </div>
</header>