<header>
  <div class="flex-header">
    <div class="logo">
      <img src="assets/images/logo/logo_pharmacie.png" alt="logo" />
    </div>

    <nav role="navigation" aria-label="Navigation principale">
      <label for="toggle">☰</label>
      <input type="checkbox" id="toggle" />
      <div class="main_pages">
        <a href="#" aria-label="Accueil">Accueil</a>
        <a href="#" aria-label="Catalogue">Catalogue</a>
        <a href="#" aria-label="Partenaires">Partenaires</a>
        <a href="#" aria-label="Prestations">Prestations</a>
        <a routerLink="/contact" aria-label="Contact">Contact</a>
      </div>
    </nav>
  </div>
  <!--<nav>
        <a routerLink="/">Accueil</a>
        <a routerLink="/products">Catalogue</a>
        <a routerLink="/parternaires">Marque Partenaire</a>
        <a routerLink="/prestations">Prestations</a>
        <a routerLink="/contact">Contact</a>
    </nav>-->
</header>
