<section>
  <div>
    <p class="home__map-openCloseDayHour__openCloseDayHour-title">
      Horaires d’ouverture
    </p>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Lundi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Mardi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Mercredi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Jeudi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Vendredi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour home__map-openCloseDayHour__borderSeparationLine">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Samedi</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__openHour">{{ openHour }}</p>
    </div>
    <div class="home__map-openCloseDayHour__openCloseDayHour">
      <p class="home__map-openCloseDayHour__openCloseDayHour__day">Dimanche</p>
      <p class="home__map-openCloseDayHour__openCloseDayHour__closeHour">{{ closeDay }}</p>
    </div>
  </div>
</section>

