<section>
  <div class="container">
    <div *ngIf="jsonData" class="brand-card">
      <!-- Add the *ngIf directive to ensure jsonData is defined before rendering the content -->
      <div class="brand" *ngFor="let brand of jsonData.brands">
        <article>
          <a [href]="brand.website">
            <img [src]="brand.logo" alt="{{ brand.name }}">
          </a>
          <br>
          <span>{{ brand.tagline }}</span>
          <p>{{brand.description}}</p>
          <p>{{brand.country}}</p>
        </article>
      </div>
    </div>
  </div>

</section>
