@import "../../../assets/styles/color";

* {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: $primary-color;
  font-size: 2em;
}

@media screen and (min-width: 280px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  img {
    height: auto;
    width: 100%;
  }
  a {
    margin-top: 50px;
    font-size: 25px;
  }
}
