/* Style pour rendre l'image réactive */
.event-image {
  max-width: 100%;
  height: auto;
}

/* Ajustement pour placer le titre et la description à côté de l'image */
.event-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-image-container {
  flex: 1;
  padding-right: 20px; /* Ajuster l'espacement entre l'image et les détails */
}
